<%= simple_form_for(@product, :html => {:class => 'form-horizontal' }) do |f| %>


	<p id="notice"><%= notice %></p>

		Upload Photos: 
		<input id="fileupload" type="file" name="photo[photo_file]" multiple>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="/jquery-file-upload/vendor/jquery.ui.widget.js"></script>
		<script src="/jquery-file-upload/jquery.iframe-transport.js"></script>
		<script src="/jquery-file-upload/jquery.fileupload.js"></script>
		<script>
		$(function () {
		    $('#fileupload').fileupload({
		        dataType: 'json',
		        url: '<%= products_path(@product.id) %>',
		        done: function (e, data) {
		            $.each(data.result, function (index, file) { 
		               $('<li><img src="'+file.thumbnail_url+'"></li>').appendTo('#thumbs');
		            });
		        }
		    });
		});
		</script>



		<ul id="thumbs" class="cf">
	<!-- json-ajax response here, see fileupload script above, .appendTo css id:"thumbs"-->
		</ul>



	<%= f.association :category, :label => '카테고리 선택', :as => :select, :prompt => "카테고리"  %>
	<%= f.input :name %>
	<%= f.input :code %>
	<%= f.input :brand %>
	<%= f.input :url %>
	<%= f.input :color %>
	<%= f.input :comment %>
	<%= f.submit %>

<% end %>
</br>
<%= link_to 'Back', products_path %>
</br>