<%= form_for @product, :remote => true do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :brand %><br />
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  <h1><%= @product.name %>님이 사용하실 상품 사진 올리기</h1>

  	<p id="notice"><%= notice %></p>

  		Upload Photos: 
  		<input id="fileupload" type="file" name="photo[photo_file]" multiple>
  		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  		<script src="/jquery-file-upload/vendor/jquery.ui.widget.js"></script>
  		<script src="/jquery-file-upload/jquery.iframe-transport.js"></script>
  		<script src="/jquery-file-upload/jquery.fileupload.js"></script>
  		<script>
  		$(function () {
  		    $('#fileupload').fileupload({
  		        dataType: 'json',
  		        url: '<%= products_path(@product.id) %>',
  		        done: function (e, data) {
  		            $.each(data.result, function (index, file) { 
  		               $('<li><img src="'+file.thumbnail_url+'"></li>').appendTo('#thumbs');
  		            });
  		        }
  		    });
  		});
  		</script>

  		</br>
  		<%= link_to 'Back', products_path %>
  		</br>
	
  		<ul id="thumbs" class="cf">
  	<!-- json-ajax response here, see fileupload script above, .appendTo css id:"thumbs"-->
  		</ul>
  <% end %>

