<h1>Listing products</h1>

<table>
  <tr>
		<th>Category</th>
    <th>Name</th>
    <th>Code</th>
		<th>작은그림(150x150)</th>
    <th>큰그림 Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
		<td>
			<% unless product.category.nil? %>
				<%= product.category.name %>
			<% end %>
		</td>
    <td><%= product.name %></td>
    <td><%= product.code %></td>
		<td><%= link_to image_tag(product.thumbnale_url), product.thumbnale_url %></td>
    <td><%= link_to product.url %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
