<!DOCTYPE html>
<html>
<head>
  <title>ShowcaseChronicleServer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= link_to "쇼케이스 크로니클", root_path %></h1>
<%= yield %>

</body>
</html>
